// src/scss/components/_button.scss
@use '../mixins' as *;

.dpc-button {
  @include component-base;
  @include button-base;
  background-color: var(--dpc-gray);
  color: var(--dpc-white);

  &:hover {
    opacity: 0.85;
  }

  &:focus-visible {
    @include focus-ring;
  }

  &:disabled,
  &--disabled {
    @include disabled;
  }

  // === Variants ===
  &--primary {
    background-color: var(--dpc-primary);
    color: var(--dpc-white);

    &:hover {
      background-color: var(--dpc-primary-hover);
      opacity: 1;
    }

    &:active {
      background-color: var(--dpc-primary-active);
    }
  }

  &--success {
    background-color: var(--dpc-success);
    color: var(--dpc-white);

    &:hover {
      background-color: var(--dpc-success-hover);
      opacity: 1;
    }

    &:active {
      background-color: var(--dpc-success-active);
    }
  }

  &--warning {
    background-color: var(--dpc-warning);
    color: var(--dpc-dark);

    &:hover {
      background-color: var(--dpc-warning-hover);
      opacity: 1;
    }

    &:active {
      background-color: var(--dpc-warning-active);
    }
  }

  &--danger {
    background-color: var(--dpc-danger);
    color: var(--dpc-white);

    &:hover {
      background-color: var(--dpc-danger-hover);
      opacity: 1;
    }

    &:active {
      background-color: var(--dpc-danger-active);
    }
  }

  // === Sizes ===
  &--sm {
    padding: var(--dpc-spacing-xs) var(--dpc-spacing-sm);
    font-size: var(--dpc-font-size-sm);
  }

  &--lg {
    padding: var(--dpc-spacing-md) var(--dpc-spacing-lg);
    font-size: var(--dpc-font-size-lg);
  }

  // === Elements ===
  &__icon {
    display: inline-flex;
    margin-right: var(--dpc-spacing-xs);
  }
}
