// src/scss/index.scss

// Foundation
@use 'variables';
@use 'mixins';

// Components
@use 'components/button';
@use 'components/input';
@use 'components/alert';
@use 'components/badge';
@use 'components/label';
@use 'components/breadcrumb';
@use 'components/pagination';
@use 'components/tabs';
@use 'components/checkbox';
@use 'components/radio';
@use 'components/switch';
@use 'components/select';
@use 'components/panel';
@use 'components/table';
